# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Jupyter notebooks
.ipynb_checkpoints/

# Data & results (keep repos light!)
*.mat
*.npy
*.npz
*.h5
*.pth
*.pt
*.log
*.pdf
*.png
*.jpg
*.jpeg
*.bmp
*.tif
*.tiff

# IDE / editor settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
